<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceaser Cipher Decrypter</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='/style.css')}}" />
</head>
<body>
    <form method="GET" action="#">
        <div class="container">
            <div>
                <h1>CEASER CIPHER DECRYPTER</h1>
            </div>
        <div class="content">
            <h4>Enter the text to decrypt </h4>
            <div class="content-form">
                <input type="text" name="cipher" id="cipher" class="text-box"/>
                <input type="submit" name="btnnum" id="btnnum" class="submit-button"></input>
            </div>
        </div>
        </div>
    </form>
</body>
</html>